[user]
	email = 98456451+morixxfoxdata@users.noreply.github.com
	name = Morixx
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[user]
	signingkey = ~/.ssh/id_ed25519.pub
[url "git@github.com:"]
	insteadOf = https://github.com/
